body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('./img/background.png');
    background-size: cover;
    background-color: #F0BD75;
    cursor: url('./img/Cursor-vintage.png'), auto ;
}

.search-section {
    position: relative;
    display: block;
    background-color:#291310; 
    color:  #F0BD75;
    max-width: 600px;
    width: 100%; 
    margin: 80px auto;
    padding: 20px 15px 30px 15px;
    text-align: center;
    font-family: "Cormorant Unicase", serif;
    font-size: 1.8em;
    align-items: center;   
}

header {
    padding: 25px 15px 0px 15px;
    margin: 0 auto 10px 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Pirata One", system-ui;
    color: #F0BD75;
    font-size: 3em;
    text-align: center;
    margin: 0 auto -20px auto;
}

.slogan {
    font-family: "Almendra SC", serif;
    font-size: 1em;
}

.search {
    padding: 20px 0 40px 0;
    box-sizing: border-box;
}

/*---- DROPDOWN ----*/

.custom-search {
    display: block;
    margin: 10px auto;
    font-family:monospace;
}

.custom-search select {
    padding: 8px;
    font-family: monospace;
    font-size: 16px;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    outline: none;
}

.custom-search label {
    font-family: "Cormorant Unicase", serif;
    font-size: .8em;  
}

option {
    background-color: #fff;
    color: #333;
}

/*------ ----*/

.search-bar {
    font-family: "Cormorant Unicase", serif;
    padding: 10px 20px ;
    width: 200px;
    outline: none;
    border: 1px solid #F0BD75;
    font-size: .6em;
}

select option {
    padding: 5px 10px;
    outline: none;
}

.search-btn {
    font-family: "Cormorant Unicase", serif;
    font-size: .5em;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100px;
    height: 43px;
    outline: none;
    padding: 0;
    border: none;
    cursor: pointer;
    background: rgb(223,152,0);
    background: linear-gradient(0deg, rgba(223,152,0,1) 20%, rgba(255,207,0,1) 100%);
    color: #240000;
}

.search-btn:hover {
    top: -5px;
}

.error-mssg {
    position: absolute; 
    top: 42%;
    left: 0; 
    right: 0; 
    display: block;
    margin: 0px auto 20px auto;
    font-family:monospace;
    font-size: .6em;
    font-weight: bold;
    color: #ff2727;
    width: 350px;
    max-width: 100%;
}

/* --- API RESPONSE ---*/

.random-btn {
    display: block;
    background: rgb(0,57,69);
    background: linear-gradient(0deg, rgba(0,57,69,1) 20%, rgba(0,141,187,1) 100%);
    border:2px solid rgb(255, 170, 0);
    color: #fff;
    font-family: "Cormorant Unicase", serif;
    letter-spacing: 2px;
    font-size: .5em;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    width: 250px;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
}

/*----- RESPONSE -----*/
.remove-notfound {
    display: none;
}

.show-notfound {
    display: block;
    width: 400px;
    height: 80px;
    margin: -50px auto 30px auto; 
    background-color: #F0BD74;
    color: rgb(151, 0, 0);
    border: 10px solid rgb(151, 0, 0);
    text-align: center;
    padding: 25px 20px;
}

.response {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.result {
    position: relative;
    display: block;
    margin: 15px auto;
    width: 300px;
    max-width: 100%;
    height: 400px;
    background-color: #E3AA67;
    list-style-type: none;
    padding: 20px 10px;
    border: 7px solid rgb(0, 79, 95);
}

.result li {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
}

.result-hidden {
    display: none;
}
/* ---- RANDOM ----*/

.info {
    font-family: "Cormorant Unicase", serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #291310;
}

.list-random {
    display: block;
    padding: 20px;
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    text-align: left;
    list-style-type: none;
    box-sizing: border-box;
}

.random-name {
    font-family: monospace;
    font-weight: 800;
    color: #1E0400;
    font-size: 2em;
    text-align: left;
}

 .random-address, .random-state, .random-country, .random-url{
    font-family: monospace;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 26px;
    color: #1E0400;
    word-break: break-all;
}



